:root {
    --rowNum: 125;
    --colNum: 125;
    --cellH: 4.8px;
    --cellW: 4.8px;
}

body {
    background-color: rgb(109, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 600px;
    border: solid rgb(3, 245, 193) 1px;
    display: grid;
    grid-template-columns: repeat(var(--colNum), var(--cellH));
    grid-template-rows: repeat(var(--rowNum), var(var(--cellW)));

}

 .cell { 
    /* border: solid rgb(145, 236, 236) .2px;  */
    margin: 0;

    box-sizing: border-box;

    grid-column-start: auto;
    grid-row-start: auto;
    /* margin: 0px; */

}


.cell2 {
    background-color: black;
    
}